body{
	background:$white;
	font-family: 'Open Sans', sans-serif;
//navegador
	nav{
		ul{	
			margin: 0;
			padding: 0;		
			li{
				list-style:none;
				float: left;
				margin-right: 10px;
				.navbar-pin-logo{
					color:$red;
					font-size: 32px;
					margin-left: 20px;
					margin-top:10px;
					cursor:pointer; 
				}
				.navbar-ini{
					color:$grey;
					font-weight: bold;
					cursor:pointer;
				}
				.navbar-icon{
					float:right;
					font-size: 30px;
					font-weight:bold;
					padding-left:20px;
					padding-top: 10px;
					color: $grey;
					cursor:pointer;
				}
				input{
					padding-left:10px;
					padding-right:450px;
					border: none;
					font-size:14px;
					font-weight: bold;
					background-color: transparent;
					color:$inputGrey;
					&:focus {
						outline: none;
						font-weight: bold;
					}
				}				
			}
		}
	}
	.group:before,
	.group:after {
		content: "";
		display: table;
	}
	.group:after {
		clear:both;
	}
	#navbar-li-input{
		background-color:$bgGrey;
		border-radius:4px;
		margin-top: 7px;
		margin-left:20px;
		padding-left:10px;
		padding-right: 10px;		
		i{
			color:$grey;
			font-size:20px;
			cursor:pointer;
		}
		.fa-times{
			margin-right: 10px;
		}
		button{
			margin:0;
			height: 40px;
			cursor:pointer;
			border-right:none ;
			border-top: none;
			border-bottom: none;
			background-color:  transparent;
			font-size:14px;
			color:$inputGrey;
			font-weight: bold;
			padding-left: 10px;
			&:focus {
				outline: none;
				font-weight: bold;
			}
			.fa-chevron-down{
				color:$inputGrey;	
			}
		}
	}
	.navbar-user{
		cursor:pointer;
		.fa-user{
			margin-left:10px;
			padding-top:10px;
			float:right;
			font-size: 30px;
			color: $grey;
		}
		p{
			padding-right: 15px;
		}
	}
//linea
	hr{
		border: 1px solid $bgGrey;
	}
//botones
	.botones{
		margin-top: 25px;
		margin-left:50px;
		a{
			text-decoration:none;
			padding-right: 20px;
			padding-left: 20px;
			padding-top: 15px;
			padding-bottom: 15px;
			margin-right: 2px;
			cursor:pointer;
			font-size: 14px;
			font-weight:bold;
			color:$white;
		}
		.bg1{
			opacity: 0.8;
			background-color: $bg1;
			border-radius: 8px;
		}
		.bg2{
			opacity: 0.8;
			background-color: $bg2;
			border-radius: 8px;
		}
		.bg3{
			opacity: 0.8;
			background-color: $bg3;
			border-radius: 8px;
		}
		.bg4{
			opacity: 0.8;
			background-color: $bg4;
			border-radius: 8px;
		}
		.bg5{
			opacity: 0.8;
			background-color: $bg5;
			border-radius: 8px;
		}
		i{
			margin-left: 10px;
			color:$grey;
		}
	}
	.all-pin{
		.each-pin{
			img{
				border-radius:6px;
				width: 236px;
				height: auto;
				//float: left;
			}
		}
	}
}